@model User 
@{
    if (ViewBag.isSuccess)
    {
        QuestionModel question = ViewBag.Question;

        if (question.Media.Exist)
        {
            var imgLink = $"/Autotest/{question.Media.Name}.png";

            <img src="@imgLink" />
        }

        <h1>@question.Id. @question.Question</h1>

        for (int i = 0; i < (int)question.Choices.Count; i++)
        {
            if (!Model.TicketResults[Model.CurrentTicketIndex].CorrectAnswers.Contains(question.Id))
            {
                <a asp-controller="Tickets" asp-action="GetQuestionById" asp-route-Id="@question.Id" asp-route-choiceId="@i">
                    <h3>@(i + 1) @question.Choices[i].Text </h3>
                </a>
            }
            else
            {
                var bg = "";

                if (question.Choices[i].Answer)
                {
                    bg = "background-color: green";
                }

                if (i == ViewBag.ChoiceId)
                {
                    if (ViewBag.Answer == false)
                    {
                        bg = "background-color: red";
                    }
                }

                <h3 style="@bg">@(i + 1) @question.Choices[i].Text </h3>
            }
            <br />
        }

        if (ViewBag.Answer == false)
        {
            <h4 style="color: red">Javobingiz notogri qaytadan urinib koring!</h4>
        }

        if (ViewBag.IsAnswer)
        {
            <p style="color: orangered">@question.Description</p>
        }

        for (int i = 0; i < 10; i++)
        {
            var tagClass = "btn btn-light";
            if (Model.TicketResults[Model.CurrentTicketIndex].CorrectAnswers.Contains((Model.CurrentTicketIndex * 10 + 1) + i))
            {
                tagClass = "btn btn-primary";
            }

            if (Model.CurrentTicketIndex * 10 + 1 + i == question.Id)
            {
                tagClass = "btn btn-secondary";
            }
            <a class="@tagClass" asp-action="GetQuestionById" asp-route-id="@((question.Id - 1) / 10 * 10 + i + 1)">@(i + 1)</a>
        }
    }
    else
    {
        <h1>Not found</h1>
        <h1>Id: @ViewBag.QuestionId</h1>
    }
}

