@model User

<h1>Tickets</h1>

@{
    for (int i = (ViewBag.Page - 1) * 10; i < ViewBag.Page * 10; i++)
    {
        <ul>
            <li> <a asp-controller="Tickets" asp-action="GetQuestionById"
                asp-route-id="@(i * 10 + 1)" asp-route-ticketIndex="@i" >Ticket: @(i + 1), @(10 - Model.TicketResults[i].CorrectAnswers!.Count) / 10   @Model.TicketResults[i].Date</a>
            </li> 
        </ul>
    }
}

<div class="center">
    <div class="pagination">
        @{
            for (int i = 1; i < 8; i++)
            {
                if (i == ViewBag.Page)
                {
                    <a class="active" asp-action="Index" asp-route-language="@ViewBag.Language" asp-route-page="@i">@i</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-language="@ViewBag.Language" asp-route-page="@i">@i</a>
                }
                
            }
        }
    </div>
</div>

