@model User
@inject QuestionsService QuestionService
<h1>Profile</h1>

<img style="width: 300px; height: 300px" src="@Model.PhotoPath" />

<h3>Name: @Model.Name</h3>
<h3>Username: @Model.Username</h3>

<a class="btn btn-primary" asp-action="ProfileEdit" asp-route-user="@Model">Edit</a>
<a class="btn btn-primary" asp-action="LogOut">Log Out</a>
<a class="btn btn-success" asp-action="ClearStats">Clear Stats</a>

<h1>My Stats</h1>
<h3>Total Correct Answers: @Model.Results.CorrectCount / @QuestionService.ReadQuestion("lotin").Count</h3>
<h3>Total Correct Tickets: @Model.TicketResults.Where(t => t.CorrectAnswers.Count < 1).Count() / @ViewBag.Tickets.Count</h3>
<h3>InCorrect Answers: @Model.Results.InCorrectCount</h3>
@{
    var ticket = Model.TicketResults.MaxBy(t => t.Date);

}
<h3>Oxirgi ishlangan tiket: @ticket.TicketIndex   @ticket.Date</h3>


@{
    double? a = 0.1d;
    a = Convert.ToDouble(Model.Results.InCorrectCount) / Convert.ToDouble(Model.Results.CorrectCount);
}
<h3>Togri javob aniqlash: @(a+1) ta urinishda 1ta togri javob</h3>

<h1>Ticket Results</h1>

@*
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ticket Index</th>
            <th scope="col">Correct Count</th>
            <th scope="col">Question Count</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Results.Count; i++)
        {
            var ticketResult = Model.Results[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@(ticketResult.TicketIndex + 1)</td>
                <td>@ticketResult.CorrectCount</td>
                <td>@ticketResult.QuestionCount</td>
            </tr>
        }
    </tbody>
</table>
*@

